
/* Create two equal columns that floats next to each other */
.column {
 
    margin-top: 100px;
  
    margin-left:100px;
    float:left;
    width: 30%;
    padding: 10px;
    text-align: center;
    height: 200px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h1  {
color:rgb(0, 0, 0);
text-decoration: none;
text-align: center;
  }
  h6{

text-decoration: none;
text-align: center;  
  }
  h2 a{
    color:rgb(245, 241, 246);
  }

 a:link {
    text-decoration: none;
    
  }
  a:hover {
    background-color: yellow;
  }
  


/* project manager */
.button {
    
    background-color: rgb(39, 6, 61);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 20px;
    cursor: pointer;
  }
  .header{
      margin-top: 100px;
      text-align: center;
  }
  .form{
    text-align: center;
  
  }
  h3{
      text-align: center;
  }
  .myTable{
text-align: center;
float:center;
width: 500px ;
background-color: #d5cece;
  }
#FT{
 
    margin-bottom: 50px;
    margin-top: 50px;
}
.center {
    margin-left: auto; 
    margin-right: auto;
  }

  .cart-images{
    width:60px;
    height: 80px;
    border: 4px red;
    
    }
 