<br/>
<div   class="container  ">
    <form class="form-control" [formGroup]="RegistrationRef" (ngSubmit)="onSubmit()" >
    <h1 class="text-center"> Registration </h1>


        <labeL> Full Name</labeL>
        <input type="text" formControlName="name" class="form-control"  #nameRef/> <br/>
       

        <label>Username</label> <br>
        <input type="text" formControlName="user" class="form-control"  #userRef /> <br/>
       

        <label > password</label> <br>
        <input type="password" formControlName="pass" class="form-control"  #passRef /> 
       
        <br><br>
        <input  (click)="storeRegData(nameRef,userRef,passRef)" class="btn btn-primary m-4" type="submit" value="Register" [disabled]="!RegistrationRef.valid"/>
        <input class="btn btn-danger"  type="reset" value="Reset"/> 

        <div class=" d-flex ">
            <input class="btn btn-warning "  type="reset" value="go to Login form"/><br>
        </div>
        
   
    </form>
</div>